<h6><b>observable creation</b></h6>
<br>
<h6>fromEvent</h6>
<div id="special-area"></div>
<ul class="logs">
  <li *ngFor="let log of fromEventLogs">{{ log }}</li>
</ul>
<h6>ajax</h6>
<ul class="logs">
    <li *ngFor="let log of ajaxLogs">{{ log }}</li>
</ul>
<h6>interval</h6>
<ul class="logs">
    <li *ngFor="let log of intervalLogs">{{ log }}</li>
</ul>

<h6>from array</h6>
<ul class="logs">
    <li *ngFor="let log of fromLogs">{{ log }}</li>
</ul>

<h6>of method</h6>
<ul class="logs">
    <li *ngFor="let log of ofLogs">{{ log }}</li>
</ul>
<h6>observable.create</h6>
<ul class="logs">
  <li *ngFor="let log of customObservableLogs">{{log}}</li>
</ul>
<h6>new observable()</h6>
<ul class="logs">
  <li *ngFor="let log of customObservable2Logs">{{log}}</li>
</ul>
<h6>ncustom observable with error method</h6>
<ul class="logs">
  <li *ngFor="let log of customObservable3Logs">{{log}}</li>
</ul>
<h6>Custom observalble on array</h6>
<ul class="logs">
    <li *ngFor="let log of arrayCustomObservableLogs">{{ log }}</li>
</ul>


